---
---

@import "{{ site.theme }}";

footer .profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a, a:visited, a:active {
  color: royalblue;
  font-weight: bold;
}

a:hover {
  color: cornflowerblue;
}

h2.profile {
  padding: 20px 20px 0;
  color: #fff;
  font-size: 24pt;
  min-height: 130px;
}

h2.profile img.profile-picture {
  float: right;
  margin: -20px 10px 20px;
  width: 150px;
  height: 150px;
  border: 1px solid #fff;
}

.download-bar .inner {
  color: goldenrod;
  font-size: 16pt;
  font-weight: bold;
  margin-left: 2em;
}
